# configuration

debug-mode = false

[discord]
channels = [
    { id = 123456789, mention = "everyone" }, # mention everyone
    { id = 456789123, mention = 6543219870 }, # mention role with id `6543219870`
    { id = 987654321 }, # no mention
]

[log]
# days of logs to keep
retention = 30
format = "<green>{time:YYYY-MM-DD HH:mm:ss.SSS}</green> | <level>{level: <8}</level> | <level>{message}</level>"
