# configuration

debug-mode = false

[discord]
channels = [
    { id = 123456789, mention = "everyone" },
    { id = 987654321, mention = 56789 },
]

[log]
# days of logs to keep
retention = 30
format = "<green>{time:YYYY-MM-DD HH:mm:ss.SSS}</green> | <level>{level: <8}</level> | <level>{message}</level>"
